<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0"></h1><!--BOŞ ALAN-->
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <!-- ÖZET KUTULARI -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- MAKALE -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>@TempData["makaleSayisi"].ToString()</h3>

                        <p>MAKALE</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-compose"></i>
                    </div>
                    <a href="~/AdminPanel/AdminMakaleler/AdminMakalelerIndex" class="small-box-footer">Daha Fazla<i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-6">
                <!-- YAZAR -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>@TempData["yazarSayisi"].ToString()<sup style="font-size: 20px"></sup></h3>

                        <p>YAZAR</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person"></i>
                    </div>
                    <a href="~/AdminPanel/AdminKullanici/AdminKullaniciIndex" class="small-box-footer">Daha Fazla<i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-6">
                <!-- KULLANICI -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>@TempData["kullaniciSayisi"].ToString()</h3>

                        <p>KULLANICI</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="~/AdminPanel/AdminKullanici/AdminKullaniciIndex" class="small-box-footer">Daha Fazla<i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-6">
                <!-- PROJE -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>@TempData["projeSayisi"].ToString()</h3>

                        <p>PROJE</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="~/AdminPanel/AdminProje/AdminProjeIndex" class="small-box-footer">Daha Fazla<i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>

</section>

