
<ul @*class="nav"*@>
    <li class="dropdown">
        <a href="#">@Session["userAdiSoyadi"]<i class="bi bi-chevron-down"></i></a>
        @*<div class="container-fluid">
            <div class="row-fluid">*@
        @*<div class="span6">*@
    <ul class="dropdown-menu">
        @if (true)
        {
            <li><a href="#">Admin Paneli</a></li>

        }
        <li><a href="#">Çıkış</a></li>
        <li><a href="#"></a></li>
    </ul>
        @*</div>*@

        @*</div>
            </div>*@
    </li>
</ul>
