<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

            <!-- Slide 1 -->
            <div class="carousel-item active" style="background-image: url(/Template/assets/img/slide/slide-1.jpg)">
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animate__animated animate__fadeInDown">Welcome to <span>ozuberk.dwg</span></h2>
                        <p class="animate__animated animate__fadeInUp">Blog Siteme Hoş Geldiniz. . .</p>
                        @*<a href="/Kullanici/GirisIndex" class="btn-get-started animate__animated animate__fadeInUp scrollto">Giriş Yap</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row content">
                <div class="col-lg-6">
                    <h2>İzettin ÖZÜBERK</h2>
                    <h3>Software Developer</h3>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <p>
                        Yeni Yetme Yazılımcı
                    </p>
                    
                    
                </div>
            </div>

        </div>
    </section><!-- End About Section -->

</main><!-- End #main -->
