@using MyBlogSite.DLL.Tablolar

@model IEnumerable<Kategoriler>

@section addTopLibrary{

    <link rel="stylesheet" href="~/Areas/AdminPanel/AdminLTE/plugins/summernote/summernote-bs4.min.css">

}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="~/AdminPanel/AdminProje/AdminProjeEkle">Proje Listesi</a></li>
                    <li class="breadcrumb-item active">Proje Ekle</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">PROJE EKLE</h3>
                    </div>
                    <form id="projeEkleForm" action="~/AdminPanel/AdminProje/AdminProjeEkle" method="post">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Proje Kategorisi</label>

                                <select class="form-control" name="projeKategori">
                                    <option value="0" selected>Seçiniz...</option>
                                    @foreach (var item in Model)
                                    {
                                        <option value="@item.KategorilerID">@item.KategoriAdi</option>
                                    }

                                </select>
                            </div>

                            <div class="form-group">
                                <label>Proje Adı</label>
                                <input type="text" name="projeAdi" class="form-control" id="" placeholder="Proje Adı">
                            </div>
                            <div class="form-group">
                                <label>Proje Linki</label>
                                <input type="text" name="projeLinki" class="form-control" id="" placeholder="Proje Linki">
                            </div>



                            <div class="card-footer">
                                <button type="submit" class="btn btn-success">PROJE EKLE</button>
                            </div>
                            <div>
                                @Html.Raw(ViewBag.mesaj)
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section addBottomLibrary{
    <script src="~/Areas/AdminPanel/AdminLTE/plugins/summernote/summernote-bs4.min.js"></script>

    <script src="~/Areas/AdminPanel/AdminLTE/plugins/jquery-validation/jquery.validate.js"></script>
    <script>
    $(function () {

            $('#projeEkleForm').validate({
                rules: {
                    projeKategori: {
                        required: true
                    },
                    projeAdi: {
                        required: true
                    },
                    projeLinki: {
                        required: true
                    }

                },
                messages: {
                    projeKategori: {
                        required: "Proje Kategori alanı zorunludur"
                    },
                    projeAdi: {
                        required: "Proje Ad alanı zorunludur"
                    },
                    projeLinki: {
                        required: "Proje Link alanı zorunludur"
                    }
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        });</script>
}